{% extends website|add:"/base.html" %}
{% block customcss %}
<link rel="stylesheet" href="/static/css/youps/libs/codemirror.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<!-- <link rel="stylesheet" href="/static/css/youps/libs/fontawesome-all.min.css"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
<!-- Interactive console styles -->
<!-- <link rel="stylesheet" href="/static/css/youps/libs/sandbox.css" /> -->
<link rel="stylesheet" href="https://get.mavo.io/mavo.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/youps/libs/prism.css">
<link rel="stylesheet" href="/static/css/youps/libs/jquery.switchButton.css" />
<link rel="stylesheet" href="/static/css/youps/libs/show-hint.css" />
<link rel="stylesheet" type="text/css" href="/static/css/youps/libs/qunit.css">
<link rel="stylesheet" href="/static/css/youps/libs/jsonpanel.css">
<link rel="stylesheet" href="/static/css/youps/history_table.css">
<link rel="stylesheet" href="/static/css/youps/style.css">
{% endblock %}

{% block content %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139042591-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139042591-1');
</script>


<!-- <script src="//www.google-analytics.com/analytics.js"></script> -->
<script>
		// (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		// (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		// m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		// })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		// ga('create', 'UA-139052166-1', 'auto');
		// ga('send', 'pageview');
		

		// (function(i, s, o, g, r, a, m) {
        //     i['GoogleAnalyticsObject'] = r;
        //     i[r] = i[r] || function() {
        //         (i[r].q = i[r].q || []).push(arguments)
        //     }, i[r].l = 1 * new Date();
        //     a = s.createElement(o),
        //         m = s.getElementsByTagName(o)[0];
        //     a.async = 1;
        //     a.src = g;
        //     m.parentNode.insertBefore(a, m)
        // })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        // ga('create', 'UA-131048336-2', 'auto');
		// ga('send', 'pageview');
		// ga('send', 'event', 'Videos2', 'play', 'Fall Campaign');
		</script>
<script>
	
//   tracker = ga.create('UA-XXXXXXX-1', 'example.com');
//   tracker.send('pageview');
//   (function(i, s, o, g, r, a, m) {
//             i['GoogleAnalyticsObject'] = r;
//             i[r] = i[r] || function() {
//                 (i[r].q = i[r].q || []).push(arguments)
//             }, i[r].l = 1 * new Date();
//             a = s.createElement(o),
//                 m = s.getElementsByTagName(o)[0];
//             a.async = 1;
//             a.src = g;
//             m.parentNode.insertBefore(a, m)
//         })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
// tracker = ga('create', 'UA-139052166-1', 'auto');
// tracker = ga.create('UA-139052166-1', 'example.com');
//         // ga('send', 'pageview');tracker = ga.create('UA-XXXXXXX-1', 'example.com');
//   tracker.send('pageview');
// (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
// (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
// m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
// })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

// ga('create', 'UA-139052166-1', 'auto', 'tracker');
// ga('tracker.send', 'pageview');
// ga('tracker.send', 'event', 'test', 'click', 'automaticEvent')
</script>
	<div id="loading-wall">
		{% if imap_authenticated %}
		{% else %}
			<span style='display:none;top: 300px;position: fixed;'>We are initializing your inbox! Will email you when it is ready!</span>
		{% endif %}
	</div>
	
	<div class="sk-circle">
			<div class="sk-circle1 sk-child"></div>
			<div class="sk-circle2 sk-child"></div>
			<div class="sk-circle3 sk-child"></div>
			<div class="sk-circle4 sk-child"></div>
			<div class="sk-circle5 sk-child"></div>
			<div class="sk-circle6 sk-child"></div>
			<div class="sk-circle7 sk-child"></div>
			<div class="sk-circle8 sk-child"></div>
			<div class="sk-circle9 sk-child"></div>
			<div class="sk-circle10 sk-child"></div>
			<div class="sk-circle11 sk-child"></div>
			<div class="sk-circle12 sk-child"></div>
	</div>
	<div class="container">
		<div class="group-container">
			<p hidden id="website-name">{{website}}</p>

			<h3>YouPS Rule Sandbox</h3>
			<!-- <a href="/docs" style="float: right;margin-top: -30px;">View API docs</a> -->
			<hr>

			<form id="login-email-form">
				<!-- <label for="input-email">Email address: </label>
				<input id="input-email" type="email" style="box-sizing: border-box;"></input>
				<br> -->
				{% if user.is_authenticated %}
					{% if imap_authenticated %}

					{% else %}
						<div id="password-container">
								<input type="radio" name="auth-mode" value="oauth" id="rdo-oauth"><label for="rdo-oauth">Oauth </label>
								<input type="radio" name="auth-mode" value="plain" id="rdo-plain" checked><label for="rdo-plain">Plain password </label>
								<br>
								<button type="button" class="btn btn-info btn-sm oauth" id="btn-google-access">
									Get access code
							   </button>
								<!-- <a class="btn btn-info btn-sm oauth" style="color:white;" target="_blank" href="https://accounts.google.com/o/oauth2/auth?client_id=1035128514395-ljeutpptbag8unpv2lgo1k93eiq006f6.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&response_type=code&scope=https%3A%2F%2Fmail.google.com%2F">Get access code</a> -->
								<label class="plain" for="input-password">Username: </label>
								<input class="plain" id="input-username" type="text" style="box-sizing: border-box;" value="{{username}}"></input>
								<label class="plain" for="input-password">Password: </label>
								<input class="plain" id="input-password" type="password" style="box-sizing: border-box;"></input>
								<label class="oauth" for="input-access-code">Access code: </label>
								<input class="oauth" id="input-access-code" type="text" style="box-sizing: border-box;"></input>
								<label for="input-host">Host (e.g. imap.xxx .. ): </label>
								<input id="input-host" type="text" style="box-sizing: border-box;"></input>
								<br><br>
								<div style="diplay:none;color:red;" id="donotsend-msg"></div>
								<p class="plain">Before you log in, go to <a id="link-less-secure">"Less secure apps" section of my Account.</a> And Enable less secure log in.</p>
						</div>
						<button type="button" id="btn-login" style="margin-top:10px;">Log in to your email</button>
					{% endif %}
				{% else %}
					<a type="button" href="/accounts/login/?next=/editor" style="margin-top:10px;">Log in to YoUPS</a> or <a type="button" href="/accounts/register/?next=/editor" style="margin-top:10px;">Create a new YoUPS account</a> to start!
				{% endif %}
			</form>
			<div id="editor-container">
					<div>
					  <div class="card">
						<div class="card-header">
							<div id="status">
								<!-- Mode selection dropdown -->
								<div id="mode-selection-dropdown" class="dropdown" style="display: inline;">
									<label style="font-size: medium;">Current mode: </label>
									<button class="btn btn-default dropdown-toggle" type="button" id="current_mode_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" mode-id="0">Default <span class="caret"></span></button>
									<ul class="dropdown-menu" aria-labelledby="current_mode_dropdown">
										<!-- This will be replaced by js -->
										<li><a href="#" data-value="action">Action</a></li>
									</ul>
								</div>
								{% if imap_authenticated %}
									<!-- https://codepen.io/aanjulena/pen/ZLZjzV  -->
									<button id='btn-code-submit' type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
										<div class="handle"></div>
									  </button>	  
									<span data-toggle="tooltip" data-placement="top" data-html="true" title="If you turn off your YouPS, your rule won't be applied to incoming messages" class="glyphicon glyphicon-info-sign"></span>
								{% else %}
									<button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off" disabled>
										<div class="handle"></div>
									  </button>
								{% endif %}
							</div>
						</div>
						<div class="card-block">
							{% if mode_exist %}
								<ul class="nav nav-tabs" role="tablist">
									{% for mode in modes %}
										<!-- Mark current mode as an acitve tab, if there is no current mode mark the first one active. -->
										{% if current_mode == None and forloop.first or current_mode == mode %}
											<li class="active">
										{% else %}
											<li>
										{% endif %}
											<a href="#tab_{{mode.id}}" data-toggle="tab">
													<span class="tab-title" mode-id={{ mode.id }}>
													{{ mode.name }} <span>({{ mode.id }})</span>
													</span>
													<i class="fas fa-pencil-alt"></i>
												</a><span class="close">x</span>
											</li>
									{% endfor %}
									<li><a href="#" class="add-tab">+ Add Mode</a></li>
								</ul>
								<div class="tab-content">
								{% for mode in modes %}		
										<!-- Mark current mode as an acitve tab, if there is no current mode mark the first one active. -->
									{% if current_mode == None and forloop.first or current_mode == mode %}
										<div class="tab-pane active" id="tab_{{mode.id}}">
									{% else %}
										<div class="tab-pane" id="tab_{{mode.id}}">
									{% endif %}
											<div class='editable-container' type='new-message'>
												<!-- This will be filled with Django templates -->
											</div>

											<div class='editable-container' type='flag-change'>
											</div>

											<div class='editable-container' type='deadline'>
											</div>

											<div class='editable-container' type='repeat'>
											</div>

											<!-- editor add buttons -->
											<div class="btn-new-editor" type="new-message">
												<div class="panel panel-success">
													<div class="flex_container">
														<div class="flex_item_left">
															<i class="fas fa-3x fa-plus-circle"></i>
														</div>

														<div class="panel-heading flex_item_right panel-collapsed">
															<h3 class="panel-title">
																	<span class="fa-layers fa-fw fa-2x">
																		<i class="far fa-envelope"></i>
																		<span class="fa-layers-counter" style="background:Tomato">NEW</span>
																	</span>
																	Create a message arrival handler <span class=""></span>
															</h3>
														</div>
													</div>
												</div>
											</div>
											<div class="btn-new-editor" type="flag-change">
													<div class="panel panel-warning">
														<div class="flex_container">
															<div class="flex_item_left">
																<i class="fas fa-3x fa-plus-circle"></i>
															</div>

															<div class="panel-heading flex_item_right panel-collapsed">
																<h3 class="panel-title">
																	<i class="far fa-2x fa-flag"></i> Create a flag change event handler <span class=""></span>
																</h3>

															</div>
														</div>
												</div>
											</div>
											<div class="btn-new-editor" type="deadline">
												<div class="panel panel-default">
													<div class="flex_container">
														<div class="flex_item_left"> 
															<i class="fas fa-3x fa-plus-circle"></i> 
														</div>
														
														<div class="panel-heading flex_item_right panel-collapsed">
															<h3 class="panel-title">
																<i class="far fa-2x fa-clock"></i> Create a deadline event handler <span class=""></span>
															</h3>
															
														</div>
													</div>	
												</div>
											</div>
										</div>
									{% endfor %}				
								</div>

							<!-- when there is no mode exist e.g., when it is first time after a user registers -->
							{% else %}
								<ul class="nav nav-tabs" role="tablist">
									<li class="active" >
										<a href="#welcome" data-toggle="tab">
											<span class="tab-title">
												Hello YouPS!
											</span>
										</a></li>
									<li><a href="#" class="add-tab">+ Add Mode</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="welcome">
										<h4>Welcome to YouPS!</h4>
										<span>YouPS is a sandbox environment where you can develop and program your own inbox! YouPs is following OOP (Object-oriented programming) convention and has three entities -- <a href='/docs/#message'><code>Message</code></a>, <a href='/docs/#contact'><code>Contact</code></a> and <a href='/docs/#Calendar'><code>Calendar</code></a>. 
											Each entity represents individual message, contact (email address) and your e-calendar. 
											<br>
											Furthermore, YouPS supports various email modes so you can define different email behavior! 
											Create your first YouPS email mode by adding an tab above! <br><br>
											Check out popular uses cases <a href='/about'>here</a> and happy inbox-coding!
										</span>
									</div>
								</div>
							{% endif %}
						</div>
					  </div>

					  <div id="console" class="info">
						<!-- <span id="engine-status-spinning-bar" class="fa-layers fa-fw fa-2x">
							<i class="fas fa-sync"></i>
							<span class="fa-layers-counter idle-mark" style="background:Tomato">IDLE</span>
						</span>
						<span id='engine-status-msg'></span> -->

						<span id='user-status-msg'></span>
						<h2>Output console</h2>
						<input onchange="filterNoop(this)" type="checkbox" name="historyTableFilter" value="0"> hide no-op (only show logs with actions)
						<table id="console-table" class="table" style="width:100%">
							<thead>
								<tr>
								  <th>Date</th>
								  <th>Trigger</th>
								  <th>Sender</th>
								  <th>Message</th>
								  <th>Log</th>
								  <th></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<div class="text-center">
							<button id="btn-log-load-more" class="btn btn-primary">Load more</button>
						</div>
						<div id="console-output">
							
						</div>
					  </div>
					</div>

					<!-- <div class="card">
						<div class="card-header">
							<h4>Shared functions</h4>
							You can write shared functions or code here and call them from any modes.
							<br>
							<button class="btn btn-primary" id="btn-shared-save" style="float: right;">Save</button>
							<br><br>
						</div>
						<div class="card-block" id="editor-shared-container">
							<textarea class="editor shared-editor" id="editor-shared">
									{% if shortcuts_exist %}
{{ shortcuts }}
									{% else %}
# add example of shared code here.
									{% endif %}
</textarea>
						</div>
					  </div>

					<div class="card">
							<div class="card-header">
								<h4>Rules for email shortcuts</h4>
								You can use your YoUPS rule from your email interface. Define your shortcut below, then when you forward an email with the shortcut to {{website}}@{{website}}.csail.mit.edu, YoUPS will run the action for you!
								<br>
								<button class="btn btn-primary" id="btn-shortcut-save" style="float: right;">Save</button>
								<br><br>
							</div>
							<div class="card-block" id="editor-shortcut-container">
								<textarea class="editor shortcut-editor" id="editor-shortcut"  mv-expressions="none">
										{% if shortcuts_exist %}
{{ shortcuts }}
										{% else %}
import re

# LABEL x, y, z => add labels [x,y,z] to the email
m = re.search('(?<=LABEL)(.*)', get_content())
add_labels( m.groups()[0].split(",") ) # if you are using gmail, then add_gmail_labels

if "TODO" in get_content() and "soya@mit.edu" in get_sender():
    move("todo")

print get_sender()
										{% endif %}
	</textarea>
							</div>
						  </div> -->
			  </div>

			  <div id="apis-container" style="display:none;" mv-app="api" mv-storage="https://github.com/haystack/YouPS">
					<div property="folder" >
						<div class='add-sidebar header' id="method"> <h3> Global Methods <a href="#folder-attr">¶</a></h3>   </div>
						<div id="[name]" class='add-sidebar sub-header' property="attribute" mv-multiple>
							<h4>[name] ([params]) <a href="#[name]"> ¶ </a> </h4>
							<span>[description]</span>
						</div>
					</div>

					<div property="message">
							<div class='add-sidebar sub-header' id="message-attr"> <h3> Attribute <a href="#message-attr">¶</a></h3>   </div>
							<div id="[name]" class='value' property="attribute" mv-multiple>
								<h4>[name]</h4>
								<span>[description]</span>
							</div>
		
							<div class='add-sidebar sub-header' id="message-method"> <h3> Method <a href="#message-method">¶</a></h3>   </div>
							<div id="[name]" class='value' property="method" mv-multiple>
									<h4>[name] ([params]) </h4>
									<span>[description]</span>
							</div>
					</div>

					<div property="contact">
							<div id="contact-attr" class='add-sidebar sub-header'> <h3> Attribute <a href="#contact-attr">¶</a></h3>   </div>
							<div id="[name]" class='value' property="attribute" mv-multiple>
								<h4>[name]</h4>
								<span>[description]</span>
							</div>
							<div id="contact-method" class='add-sidebar sub-header'> <h3> Method <a href="#contact-method">¶</a></h3>   </div>
							<div id="[name]" class='value' property="method" mv-multiple>
									<h4>[name] ([params]) </h4>
									<span>[description]</span>
							</div>
					</div>

					<div property="calendar">
							<div id="calendar-attr" class='add-sidebar sub-header'> <h3> Attribute <a href="#calendar-attr">¶</a></h3>   </div>
							<div id="[name]" class='value' property="attribute" mv-multiple>
								<h4>[name] </h4>
							</div>
							<div id="calendar-method" class='add-sidebar sub-header'> <h3> Method <a href="#calendar-method">¶</a></h3>   </div>
							<div id="[name]" class='value' property="method" mv-multiple>
									<h4>[name] ([params])</h4>
							</div>
						</div>
			  </div>
			  <!-- END editor col -->
		</div>
	</div>
	<script type="text/javascript">
		var user_email="{{ request.user.email }}",
			is_authenticated = {{ user.is_authenticated|yesno:"true,false" }},
			is_imap_authenticated = {{ imap_authenticated|yesno:"true,false" }},
			is_test = {{ is_test|yesno:"true,false" }},
			IS_RUNNING = {{ is_running|yesno:"true,false" }},
			IS_INITIALIZED = {{ is_running|yesno:"true,false" }},
			FOLDERS = {{ folders|safe }},
			RULE_FOLDER = {{ rule_folder|safe }},
			current_mode = "{{ current_mode.name }}",
			current_mode_id = "{{ current_mode.id }}";

	</script>


	<!-- <a href="/groups/{{group_info.name}}">Back to group info page</a> -->
{% endblock %}

{% block customjs %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core.js"></script>

	<script type="text/javascript" src="/static/javascript/notify.js"></script>

	<script type="text/javascript" src="/static/javascript/youps/fontawesome-all.min.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/codemirror.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/addon/edit/matchbrackets.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/python.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/addon/hint/show-hint.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>

	
	<script type="text/javascript" src="/static/javascript/youps/jquery.switchButton.js"></script>

	<script type="text/javascript" src="/static/javascript/youps/prism.js"></script>
	<script src="/static/javascript/youps/mavo.min.js"></script>
	<!-- The JS Sandbox Console script (requires underscore, backbone and jquery): -->
	<!-- <script type="text/javascript" src="/static/javascript/youps/console/sandbox-console.js"></script> -->
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/md5.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/evpkdf.js"></script> -->
	<!-- JSON Formatter -->
	<script src="/static/javascript/youps/qunit.js"></script>
    <script src="/static/javascript/youps/blanket.min.js"></script>
	<script src="/static/javascript/youps/Autolinker.js"></script>
	<script src="/static/javascript/youps/jsonpanel.js"></script>
	<script src="/static/javascript/youps/tests.js"></script>

	<script src="https://cdn.rawgit.com/CryptoStore/crypto-js/3.1.2/build/rollups/aes.js"></script>
	
	<script type="text/javascript" src="/static/javascript/youps/history_table.js"></script>
	<!-- <script type="text/javascript" src="/static/javascript/youps/message_loader.js"></script> -->
	<script type="text/javascript" src="/static/javascript/youps/editor.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/login_imap.js"></script>

    <script>

		
        // window.onbeforeunload = function(event)
        // {
        //     return confirm("Confirm refresh");
        // };
    </script>
{% endblock %}
