<div>
    <div class="panel panel-default">
        <div class="flex_container">
            <div class="flex_item_left"> 
                <i class="fas fa-3x fa-plus-circle"></i> 
            </div>
            
            <div class="panel-heading flex_item_right panel-collapsed">
                <h3 class="panel-title" >
                    a new rule that triggered when  <select><option value='new-message'>a new message arrives</option><option value='deadline'>A message.deadline is up</option></select> <button class='btn btn-default btn-new-editor'>Add</button> <span class=""></span>
                </h3>
                
            </div>
        </div>	
    </div>
</div>