<div class="btn-new-editor" type="flag-change"><div  class="panel panel-warning">
        <div class="flex_container">
            <div class="flex_item_left"> 
                <i class="fas fa-3x fa-plus-circle"></i>
            </div>
            
            <div class="panel-heading flex_item_right panel-collapsed">
                <h3 class="panel-title">
                    <i style="float:left;" class="far fa-2x fa-flag"></i>Create a flag change event handler <span class=""></span>
                </h3>
                
            </div>
        </div>
        <!-- Panel body -->
        
    </div>
</div>