<div class='tab-pane' id='tab_{{mode_id}}'> 
    <div class='editable-container' type='new-message'></div>
    <div class='editable-container' type='repeat'></div>
    <div class='editable-container' type='flag-change'></div>
    <div class='editable-container' type='deadline'></div>
    <div class='editable-container' type='shortcut'></div>

     <!-- add a new message editor button -->
    {{ new_message }}
    <!-- add a new flag-change editor button -->
    {{ flag_change }}
    <!-- add a deadline editor button -->
    {{ deadline }}
    <!-- add a shortcut editor button -->
    {{ shortcut }}
</div>

