<div class='tab-pane' id='tab_{{mode_id}}'> 
    <span style='font-size:18px;'>Mode UID = {{mode_id}}</span><br>
    Try  <a href="/docs/#mailbox.MailBox.set_email_mode"><code>set_email_mode({{mode_id}})</code></a>  to dynamically switch to this mode
    <div class='editable-container' type='new-message'></div>
    <div class='editable-container' type='repeat'></div>
    <div class='editable-container' type='flag-change'></div>
    <div class='editable-container' type='deadline'></div>
    <div class='editable-container' type='shortcut'></div>

     <!-- add a rulle-add button -->
    {{ deadline }}
</div>

