<div class="btn-new-editor" type="new-message">
    <div  class="panel panel-success">
        <div class="flex_container">
            <div class="flex_item_left"> 
                <i class="fas fa-3x fa-plus-circle"></i>
            </div>
            
            <div class="panel-heading flex_item_right panel-collapsed">
                <h3 class="panel-title">
                    <span style='float:left;' class="fa-layers fa-fw fa-2x"> 
            <i class="far fa-envelope"></i>
            <span class="fa-layers-counter" style="background:Tomato">NEW</span>
        </span>Create message arrival handler <span class=""></span>
                </h3>
                
            </div>
        </div>
    <!-- Panel body -->
    </div>
</div>