<div type="shortcut">
	<div  class="panel panel-primary">
		<div class="flex_container">
			<div class="flex_item_left"> 
				<i class="fas fa-3x fa-plus-circle"></i>
			</div>
			
			<div class="panel-heading flex_item_right panel-collapsed">
				<h3 class="panel-title">
					<i style="float:left;" class="fas fa-2x fa-terminal"></i>New shortcut handler <button class='btn btn-default btn-new-editor'>Add</button><span class=""></span>
				</h3>
				
			</div>
		</div>
		<!-- Panel body -->
		
	</div>
	</div>
</div>